apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-blogs-env
  labels:
    app: {{ .Release.Name }}-blogs-service
data:
  MONGO_CONNNECTION_URL: {{ .Values.config.MONGO_CONNNECTION_URL }}
  MONGO_DATABASE_NAME: {{ .Values.config.MONGO_DATABASE_NAME  }}
  MONGO_COLLECTION_NAME: {{ .Values.config.MONGO_COLLECTION_NAME }}