name: "performance_cluster"

on:
  push:
    branches:
      - perf-acc

env:
  https_url: '${{ secrets.URL }}'

jobs:

  Terraform_Plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Initial AWS Account
        uses: aws-actions/configure-aws-credentials@master
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          mask-aws-account-id: false
  
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check -diff -recursive
        continue-on-error: true

      - name: Terraform Init
        id: init
        run: terraform init
      
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false -out "tf_plan"
            
      - name: Upload TF Plan
        uses: actions/upload-artifact@v2
        with:
          name: tf_plan
          path: ./tf_plan/
          if-no-files-found: error
          retention-days: 1
  
  Terraform_Apply:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    needs: Terraform_Plan
    
    steps: 
      - name: Checkout
        uses: actions/checkout@master
      
      - name: Initial AWS Account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 
          mask-aws-account-id: false 
      
      - name: Download TF Plan
        uses: actions/download-artifact@v3
        with:
          name: tf_plan
          path: ./

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Apply
        id: apply
        continue-on-error: true
        run: terraform apply "tf_plan"

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Update KubeConfig
        continue-on-error: true
        run: |
          aws eks --region $(terraform output -raw region) update-kubeconfig --name $(terraform output -raw cluster_name)

      - name: Configure Kubectl
        uses: azure/setup-kubectl@v2.0
        with:
          version: 'v1.23.6'
        id: install

      - name: Test kubectl command
        continue-on-error: true
        run: |
          kubectl cluster-info
      
      # Delete this steps when you want to deployment
      - name: Verify configmaps and secrets
        run: |
          kubectl get configmap -n argocd

          kubectl get secret -n argocd
      
      # Delete this steps when you want to deployment
      - name: Verify blog-service applications
        continue-on-error: true
        run: |
          kubectl logs -l app=blogs-service -n argocd
          
          kubectl get svc -l app=blogs-service -n argocd

          kubectl get all -n argo-rollouts

      - name: Upload tfstate
        uses: actions/upload-artifact@v2
        continue-on-error: true
        with:
          name: terraform.tfstate
          path: ./terraform.tfstate
          if-no-files-found: error
          retention-days: 1

      - name: Upload kubeconfig
        uses: actions/upload-artifact@v2
        continue-on-error: true
        with:
          name: config
          path: /home/runner/.kube/config
          if-no-files-found: error
          retention-days: 1
           
      - name: Verify application started (https)
        shell: bash
        run: |
          URL=https://$https_url
          
          for i in {1..10}; do
             sleep 10  
             OUTPUT=$(curl -s -o /dev/null -w "%{http_code}\n" -m 5 $URL)
             if [[ $OUTPUT == 200 ]]; then
                 echo "$URL is up, returned $OUTPUT"
                 exit 0
             else
                 echo "$URL is not up, returned $OUTPUT"
                 echo "retry $i from 10"
             fi
          done
          exit 1

      - name: Change URL
        shell: bash
        run: |
          sed -i 's/127.0.0.1/'$https_url'/g' ./k6/http_get.js

      - name: Run k6 test
        uses: grafana/k6-action@v0.2.0
        with:
          filename: ./k6/http_get.js
          flags: --summary-trend-stats="avg,min,med,max,p(90),p(95),p(99),count" --vus 50 --duration 10s

      - name: Upload performance test results
        uses: actions/upload-artifact@v3
        with:
          name: k6-report
          path: ./result.html

      - name: Sleep 10 minutes
        run: sleep 10m
        shell: bash

  Terraform_Destroy:
    name: 'Terraform Destroy'
    runs-on: ubuntu-latest
    if: always() 
    needs: [Terraform_Apply]

    steps: 
      - name: Checkout
        uses: actions/checkout@master
      
      - name: Initial AWS Account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          mask-aws-account-id: false
      
      - name: Download tfstate
        if: always()
        uses: actions/download-artifact@v3
        with:
          name: terraform.tfstate
          path: ./

      - name: Download kubeconfig
        continue-on-error: true
        uses: actions/download-artifact@v3
        with:
          name: config
          path: /home/runner/.kube/

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan Destroy
        run: terraform plan -destroy

      - name: Terraform Destroy module.eks.module.eks_blueprints_kubernetes_addons
        if: always()
        id: destroy1
        run: terraform destroy -target=module.eks.module.eks_blueprints_kubernetes_addons -auto-approve

      - name: Terraform Init
        id: init
        continue-on-error: true
        run: terraform init

      - name: Terraform Plan Destroy
        run: terraform plan -destroy
      
      - name: Terraform Destroy module.eks.module.eks_blueprints
        if: always()
        id: destroy2
        run: terraform destroy -target=module.eks.module.eks_blueprints -auto-approve

      - name: Terraform Init
        id: init
        continue-on-error: true
        run: terraform init

      - name: Terraform Plan Destroy
        run: terraform plan -destroy

      - name: Terraform Destroy 
        if: always()
        id: destroy3
        run: terraform destroy -auto-approve